doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title SITCON2016 夏令營
		//- SNS Sharing
		meta(name="description", content="")
		meta(property="og:title", content="SITCON2016 夏令營")
		meta(property="og:site_name", content="SITCON2016 夏令營")
		meta(property="og:url", content="http://sitcon.camp/2016/")
		meta(property="og:image", content="http://sitcon.camp/2016/img/snap.png")
		meta(property="og:type", content="website")
		meta(property="og:description", content="")
		meta(property="twitter:title", content="SITCON2016 夏令營")
		meta(property="twitter:description", content="")
		//- meta(property="twitter:image:src", content="http://sitcon.camp/2016/img/logo.png")
		meta(property="twitter:image:width", content="256")
		meta(property="twitter:image:height", content="256")
		//- Styles
		link(rel="shortcut icon", href="favicon.ico")
		link(rel="stylesheet", href="./css/style.min.css")
		//- Analytics
		script(src="./js/analytics.js")
	body
		#coverPage
		#navbar
		#aboutPage
		#pdBar1
		#enrollPage
		#pdBar2
		#paywayPage
		#pdBar3
		#coursePage
		#coursePanel
		#pdBar4
		#staffPage
		#pdBar5
		#sponsorPage
		#footer
		//- Scripts
		script(src="./js/lib.min.js")
		script(src="./js/main.min.js")
