doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title SITCON2016 夏令營
		//- SNS Sharing
		meta(name="description", content="2016 年度，以「墜入資訊夢，喚醒開源魂」為主軸，SITCON 夏令營將於中央大學舉辦，新創開源鄉的概念，配合豐富的課程、座談會及社群闖關，讓學員在程式編寫管理、演算法思維、團隊合作等架構下學習；今年將更進一步把故事和營隊整合，完整營造整體感，務求讓學員擁有截然不同的營隊體驗。")
		meta(property="og:title", content="SITCON2016 夏令營")
		meta(property="og:site_name", content="SITCON2016 夏令營")
		meta(property="og:url", content="http://sitcon.camp/2016/")
		meta(property="og:image", content="http://sitcon.camp/2016/img/snap.png")
		meta(property="og:type", content="website")
		meta(property="og:description", content="2016 年度，以「墜入資訊夢，喚醒開源魂」為主軸，SITCON 夏令營將於中央大學舉辦，新創開源鄉的概念，配合豐富的課程、座談會及社群闖關，讓學員在程式編寫管理、演算法思維、團隊合作等架構下學習；今年將更進一步把故事和營隊整合，完整營造整體感，務求讓學員擁有截然不同的營隊體驗。")
		meta(property="twitter:title", content="SITCON2016 夏令營")
		meta(property="twitter:description", content="2016 年度，以「墜入資訊夢，喚醒開源魂」為主軸，SITCON 夏令營將於中央大學舉辦，新創開源鄉的概念，配合豐富的課程、座談會及社群闖關，讓學員在程式編寫管理、演算法思維、團隊合作等架構下學習；今年將更進一步把故事和營隊整合，完整營造整體感，務求讓學員擁有截然不同的營隊體驗。")
		meta(property="twitter:image:src", content="http://sitcon.camp/2016/img/logo.png")
		meta(property="twitter:image:width", content="256")
		meta(property="twitter:image:height", content="317")
		//- Styles
		link(rel="shortcut icon", href="favicon.ico")
		link(rel="stylesheet", href="./css/style.min.css")
		//- Analytics
		script(src="./js/analytics.js")
	body
		#coverPage
		#navbar

		#aboutPage
		#pdBar1

		#coursePage
		#coursePanel
		#pdBar2

		#paywayPage
		#pdBar3

		#enrollPage
		#pdBar4

		#staffPage
		#pdBar5

		#sponsorPage
		#footer

		//- Scripts
		script(src="./js/lib.min.js")
		script(src="./js/main.min.js")
