$coverPagePropotion: 1440/900;
#coverPage {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $darkBlack;
}

.coverPage {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: white;
	background: linear-gradient(180deg, #e1d8d9, #bab1a3);
	.bg {
		@include middleCenter();
		display: block;
		width: 100%;
	}
	.grass {
		position: absolute;
		top: 0;
		height: 100%;
	}
	.top {
		width: 80%;
	}
	.front {
		img {
			@include middleCenter();
			width: 80%;
			height: auto;
		}
	}
	.role {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	@media screen and (max-aspect-ratio: 1440/840) {
		.front {
			img {
				width: 100%;
			}
		}
	}
	@media screen and (min-aspect-ratio: 1440/840) and (max-height: 800px) {
		top: 0px;
		.front {
			img {
				height: 100%;
				width: auto;
			}
		}
	}
	@media screen and (min-aspect-ratio: 1440/840) and (max-height: 600px) {
		top: -30px;
		.front {
			img {
				height: 70%;
				width: auto;
			}
		}
	}
}
